# Semaphore Server Configuration (Template)
SEMAPHORE_ADMIN=admin
SEMAPHORE_ADMIN_PASSWORD=admin
SEMAPHORE_ADMIN_NAME=Admin
SEMAPHORE_ADMIN_EMAIL=admin@localhost

# Semaphore Database Link
SEMAPHORE_DB_USER=semaphore
SEMAPHORE_DB_PASS=semaphore
SEMAPHORE_DB_HOST=db
SEMAPHORE_DB_PORT=5432
SEMAPHORE_DB_DIALECT=postgres
SEMAPHORE_DB=semaphore

SEMAPHORE_PLAYBOOK_PATH=/tmp/semaphore/playbooks
