# Ansible & Alloy Credentials (for Inventory) - Template
ANSIBLE_SSH_PASS=your_ssh_pass
ANSIBLE_BECOME_PASS=your_become_pass
ALLOY_DATASOURCE_USER=homelab-user
ALLOY_DATASOURCE_PASSWORD=your_alloy_pass

# Observability URLs
MIMIR_URL=http://host.docker.internal/mimir/api/v1/push
LOKI_URL=http://host.docker.internal/loki/api/v1/push
TEMPO_URL=http://host.docker.internal/tempo
